.article {
  height: 100%;

  background-image: url("../img/blog/blog-1-desktop1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 285px 300px;
  background-color: $gray;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog/blog-1-desktop2x.jpg");
  }
}

@media (max-width: 1100px) {
  .article {
    background-size: 260px 300px;
  }

  li.blog__item--left-margin h3 {
    margin-left: 20px;
  }

  li.blog__item--left-margin time {
    margin-left: 20px;
  }
}

.article--crystals-img {
  background-image: url("../img/blog/blog-2-desktop1x.jpg");
  background-position: 100% 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog/blog-2-desktop2x.jpg");
  }
}

.article--trends-img {
  padding-top: 330px;

  background-image: url("../img/blog/blog-3-desktop1x.jpg");
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog/blog-3-desktop2x.jpg");
  }
}

.article__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-left: auto;
  padding: 67px 5%;
}

.article--crystals-img .article__info {
  margin-left: 0;
  padding: 68px 10%;
}

.article--trends-img .article__info {
  height: 300px;

  background-color: $gray;
}

.article__info h3 {
  margin: 0;
  margin-bottom: 36px;

  font-family: $corm;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: $black;
  text-align: center;
  white-space: normal;
}

.article time {
  order: -1;
  margin-bottom: 16px;

  font-size: 14px;
  line-height: 15px;
  color: $brown;
}

@media (max-width: $tablet-width) {
  .article {
    height: 300px;
    background-image: url("../img/blog/blog-1-tablet1x.jpg");
    background-size: 339px 300px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/blog-1-tablet2x.jpg");
    }
  }

  .article--crystals-img {
    background-image: url("../img/blog/blog-2-tablet1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/blog-2-tablet2x.jpg");
    }
  }

  .article--crystals-img .article__info {
    padding: 68px 88px;
  }

  .article--trends-img {
    padding-top: 0;

    background-image: url("../img/blog/blog-3-tablet1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/blog-3-tablet2x.jpg");
    }
  }

  .article--trends-img .article__info {
    padding: 86px 7%;
  }

  li.blog__item--left-margin h3,
  li.blog__item--left-margin time {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .article {
    height: 100%;
    background-image: url("../img/blog/blog-1-mobile1x.jpg");
    background-size: 290px 256px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/blog-1-mobile2x.jpg");
    }
  }

  .article--crystals-img {
    background-image: url("../img/blog/blog-2-mobile1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/blog-2-mobile2x.jpg");
    }
  }

  .article--trends-img {
    background-image: url("../img/blog/blog-3-mobile1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/blog-3-mobile2x.jpg");
    }
  }

  .article--trends-img div.article__info {
    height: auto;
    padding-top: 321px;
    padding-bottom: 66px;

    background: none;
  }

  .article--crystals-img .article__info {
    padding-left: 60px;
    padding-right: 60px;
  }

  .article .article__info {
    width: 100%;
    padding-top: 300px;
    padding-bottom: 50px;
  }
}
