.blog {
  padding-top: 46px;
  padding-bottom: 50px;
}

.blog__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.blog h2 {
  @include h2(18px);
}

.blog__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 660px;
  margin-left: -1.27%;
  margin-right: -1.27%;
}

.blog__item {
  flex-basis: 300px;
  width: calc(50% - 30px);
  margin-left: 1.27%;
  margin-right: 1.27%;
  margin-bottom: 30px;

  &:nth-child(3n) {
    min-height: 630px;
  }
}

@media (max-width: $tablet-width) {
  .blog {
    padding-top: 36px;
    padding-bottom: 0;
  }

  .blog__list {
    align-items: center;
    height: auto;
  }

  .blog__item {
    width: 678px;
    margin: 0;
    margin-bottom: 49px;

    &:nth-child(3n) {
      min-height: 300px;
    }
  }
}

@media (max-width: $mobile-width) {
  .blog {
    padding-top: 25px;
  }

  .blog .blog__item {
    width: 290px;
    min-height: 512px;
    margin-bottom: 38px;
  }

  .blog__title-wrap {
    padding-bottom: 52px;
  }
}
