.catalog {
  width: 870px;
}

.catalog__list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.catalog__item {
  width: calc(100% / 3 - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.catalog__pagination {
  margin-top: 33px;
  margin-bottom: 70px;
}

@media (max-width: $tablet-width) {
  .catalog {
    width: 100%;
    margin-top: 46px;
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    margin-top: 40px;
  }

  .catalog__item {
    width: calc(100% / 2 - 30px);
    margin-bottom: 21px;
  }

  .catalog__pagination {
    margin-top: 16px;
    margin-bottom: 64px;
  }
}
