.categories-navigation {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin: 0 auto;
  padding-top: 26px;
  padding-left: 10px;
  padding-bottom: 12px;
}

.categories-navigation__item {
  margin: 5px 17.5px;
}

.categories-navigation__link {
  line-height: 24px;
  color: inherit;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .categories-navigation {
    display: none;
    width: auto;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 19px;
  }

  .categories-navigation__item {
    margin: 0;
    margin-bottom: 21px;
  }

  .categories-navigation__link {
    font-size: 24px;
    line-height: 36px;
    color: $bg;
  }
}

@media (max-width: $mobile-width) {
  .categories-navigation {
    padding-bottom: 10px;
  }
}
