.gallery {
  padding-top: 50px;
  padding-bottom: 100px;
}

.gallery__title-wrap {
  margin-bottom: 65px;

  text-align: center;
}

.gallery h2 {
  @include h2(28px);

  letter-spacing: 1.2px;
}

.gallery__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 446px;
  margin-right: -1.243%;
  margin-left: -1.243%;
}

.gallery__item {
  margin-right: 1.243%;
  margin-left: 1.243%;
  margin-bottom: 2.54%;
}

.gallery__item img {
  display: block;
}

.gallery__item--width-img-1 {
  width: 19.17%;
}

.gallery__item--width-img-2 {
  width: 19.17%;
}

.gallery__item--width-img-3 {
  width: 33.34%;
}

.gallery__item--width-img-4 {
  width: 19.335%;
}

.gallery__item--width-img-5 {
  width: 18.17%;
}

.gallery__item--width-img-6 {
  width: 18.17%;
}

.gallery__item--width-img-7 {
  width: 19.26%;
  margin: 0;
  align-self: flex-start;
}

@media (max-width: $tablet-width) {
  .gallery {
    padding-top: 16px;
    padding-bottom: 62px;
  }

  .gallery h2 {
    margin-bottom: 17px;
  }

  .gallery__list {
    height: auto;
    max-height: 388px;
  }
}

@media (max-width: $mobile-width) {
  .gallery {
    padding-bottom: 55px;
  }

  .gallery__title-wrap {
    margin-bottom: 52px;
  }

  .gallery__list {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    max-height: 560px;
    align-items: center;
  }

  .gallery__item {
    width: 130px;
    margin: 0;
    margin-bottom: 15px;
    margin-right: 15px;
  }

  .gallery__item--width-img-6,
  .gallery__item--width-img-7 {
    display: none;
  }

  .gallery__item--width-img-3 {
    order: 2;
    width: 145px;
    margin-right: 0;
  }

  .gallery__item--width-img-4 {
    order: 3;
    width: 145px;
    margin-right: 0;
  }

  .gallery__item--width-img-5 {
    order: 1;
  }
}
