.new-goods {
  padding-top: 86px;
  padding-bottom: 129px;
}

.new-goods__title-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  align-items: center;
}

.new-goods h2 {
  @include h2(22px);
}

.new-goods a {
  padding-bottom: 0;
}

@media (max-width: $tablet-width) {
  .new-goods {
    padding-top: 69px;
    padding-bottom: 30px;
  }

  .new-goods.new-goods--tablet {
    padding-top: 39px;
    padding-bottom: 74px;
  }

  .new-goods__title-wrap {
    margin-bottom: 49px;
  }

  .new-goods h2 {
    margin-bottom: 18px;
  }

  .new-goods a {
    padding-bottom: 5px;
  }
}

@media (max-width: $mobile-width) {
  .new-goods.new-goods--tablet {
    padding-top: 59px;
    padding-bottom: 65px;
  }

  .new-goods__title-wrap {
    margin-bottom: 40px;
  }
}
