.questions {
  padding-top: 41px;
  padding-bottom: 60px;
}

.questions h2 {
  @include h2(48px);

  letter-spacing: 1px;
  text-align: center;
}

.questions__list {
  @include list-reset();

  width: 970px;
  margin: 0 auto;

  border: 1px solid #a87b62;
  border-bottom: none;
}

.questions__list h3 {
  position: relative;

  margin: 0;
  margin-bottom: 9px;

  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;

    width: 17px;
    height: 11px;

    background-image: url("../img/svg/down-arrow.svg");
  }
}

.questions__item--active h3 {
  &::before {
    background-image: url("../img/svg/up-arrow.svg");
  }
}

.questions__list p {
  display: none;
  width: 530px;
  margin: 0;
  padding-left: 6px;
}

.questions__item {
  padding-top: 41px;
  padding-left: 41px;
  padding-bottom: 38px;
  padding-right: 48px;

  border-bottom: 1px solid #a87b62;
}

.questions__item--active p {
  display: block;
}
