.slider {
  position: relative;
}

.slider__list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;

  margin-left: -15px;
  margin-right: -15px;
}

.slider__item {
  width: calc(25% - 30px);
  margin-left: 15px;
  margin-right: 15px;
}

.slider__button {
  position: absolute;
  top: -105px;

  width: 30px;
  height: 11px;

  border: none;
  background: none;

  cursor: pointer;

  @include hover-trans;
}

.slider__button--next {
  right: 0;
  background-image: url("../img/svg/arrow-next-desktop.svg");
}

.slider__button--prev {
  left: 0;
  background-image: url("../img/svg/arrow-preview-desktop.svg");
}

.slider__dots {
  padding-top: 51px;

  color: #9b9997;
  text-align: center;
}

.slider__dot {
  margin-right: 4.5px;
}

.slider__dot--hidden {
  display: none;
}

@media (max-width: $tablet-width) {
  .slider__wrapper {
    display: flex;
    justify-content: center;
  }

  .slider__list {
    justify-content: center;
    width: 708px;
  }

  .slider__item {
    width: calc(50% - 30px);
  }

  .slider__button {
    top: -98px;

    width: 36px;
    height: 15px;
  }

  .slider__button--next {
    background-image: url("../img/svg/arrow-next-tablet.svg");
  }

  .slider__button--prev {
    background-image: url("../img/svg/arrow-preview-tablet.svg");
  }

  .slider__dots {
    padding-top: 41px;
  }

  .slider__dot {
    margin-right: 4.5px;
    margin-left: 4.5px;
  }

  .slider__dot--hidden {
    display: inline;
  }

  // Временно
  .slider__item:nth-child(3),
  .slider__item:nth-child(4) {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .slider__button {
    display: none;
  }

  .slider__list {
    width: auto;
  }

  .slider__item {
    width: 130px;
  }

  .slider__dots {
    padding-top: 33px;
  }
}
