.slider {
  position: relative;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__list {
  @include list-reset();

  display: flex;

  transition: all 1s;
}

.slider__item {
  flex-shrink: 0;

  width: calc(26% - 30px);
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.slider__button {
  position: absolute;
  top: -104px;
  z-index: 10;

  width: 30px;
  height: 11px;

  border: none;
  background: none;

  cursor: pointer;

  @include hover-trans;
}

.slider__button--next {
  right: 0;
  background-image: url("../img/svg/arrow-next-desktop.svg");
}

.slider__button--prev {
  left: 0;
  background-image: url("../img/svg/arrow-preview-desktop.svg");
}

.slider__dots {
  padding-top: 51px;

  color: $brown;
  text-align: center;
}

.slider__dot {
  margin-right: 5.5px;
  padding-left: 3px;

  cursor: pointer;
}

.slider__dot--hidden {
  display: none;
}

.slider__dot--active {
  color: $text;
}

.slider__dots-mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .slider__item {
    width: calc(51.6% - 30px);
  }

  .slider__button {
    top: -98px;

    width: 36px;
    height: 15px;
  }

  .slider__button--next {
    background-image: url("../img/svg/arrow-next-tablet.svg");
  }

  .slider__button--prev {
    background-image: url("../img/svg/arrow-preview-tablet.svg");
  }

  .slider__dots {
    padding-top: 41px;
  }

  .slider__dot {
    margin-right: 4.5px;
    margin-left: 1.5px;
  }

  .slider__dot--hidden {
    display: inline;
  }
}

@media (max-width: $mobile-width) {
  .slider__dots-wrapper {
    display: none;
  }

  .slider__dots-mobile {
    display: block;

    color: $text;
  }

  .slider__item {
    min-width: 130px;
    width: calc(54.1% - 30px);
  }

  .slider__item a {
    width: 100%;
  }

  .slider__dots {
    padding-top: 33px;
  }

  .slider__button {
    display: none;
  }
}
