.user-navigation {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  width: 235px;
  margin-bottom: 4px;
  padding-top: 5px;

  font-size: 14px;
}

.user-navigation__item {
  margin-left: 30px;
  margin-bottom: 5px;
}

.user-navigation__link {
  padding: 3px;

  font-size: 14px;
  color: inherit;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-navigation__link-img {
  display: none;
}

@media (max-width: $tablet-width) {
  .user-navigation {
    width: 25px;
    margin: 0;
  }

  .user-navigation__item--tablet {
    display: none;
    position: absolute;
    bottom: -70px;
    left: 0;

    margin: 0;
    margin-top: 30px;
  }

  .user-navigation__item--tablet a {
    font-size: 18px;
    line-height: 23px;
    color: $bg;
  }

  .user-navigation__item--img-cart span,
  .user-navigation__item--img-cart .user-navigation__link {
    display: none;
  }

  .user-navigation__link-img {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .user-navigation {
    width: 39px;
    padding-top: 11px;
  }

  .user-navigation__item--tablet {
    bottom: -58px;
  }
}
