html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;

  margin: 0 auto;
  padding: 0;

  font-family: $pop;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $text;
  word-wrap: normal;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  // padding: 0 30px;
  padding: 0 2.25%;
}

@media (max-width: $tablet-width) {
  .container {
    padding: 0 5.7%;
  }
}

@media (max-width: $mobile-width) {
  .container {
    padding: 0 4.4%;
  }
}

.button {
  display: block;
  width: 100%;
  min-height: 68px;

  color: $bg;

  border: 1px solid $brown;
  background: none;
  background-color: $brown;

  transition: all 0.3s;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $text;

    background-color: $bg;
  }

  &:active {
    opacity: 0.3;
  }
}

.link {
  padding-bottom: 5px;

  color: inherit;

  border-bottom: 1px solid #a87b62;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
    border-color: transparent;
  }

  &:active {
    opacity: 0.3;
  }
}
