@mixin list-reset($padding-left: 0) {
  margin: 0;
  padding-left: $padding-left;
  list-style: none;
}

@mixin h2($num: 0) {
  margin: 0;
  margin-bottom: $num;

  font-family: $corm;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
}


@mixin hover-trans {
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
