//! Цвета
$bg: #ffffff;
$text: #1d1613;
$gray: #f0eae4;
$darkgray: #9b9997;
$brown: #a87b62;
$black: #000000;

// Адаптивность
$large-width: 1360px;
$tablet-width: 1023px;
$mobile-width: 767px;
$small-width: 500px;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифты
$pop: "Poppins", "Arial", sans-serif;
$corm: "Cormorant Garamond", "Times New Roman", serif;
